In [6]:
# List and its default functions

In [11]:
# len(s) Function

a = ["bee", "moth", "ant" , "mosquito"]
print(len(a))

4

In [15]:
# max(arg1, arg2, *args[, key])

a = ["bee", "moth", "ant"]
print(max(a))

a = ["bee", "moth", "wasp"]
print(max(a))

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(max(a,b))

moth
wasp
[1, 2, 3, 4, 5]

In [19]:
# min(arg1, arg2, *args[, key])

a = ["bee", "moth", "wasp"]
print(min(a))

a = ["bee", "moth", "ant"]
print(min(a))

a = [1, 2, 3, 4, 5,7,8,2]
b = [1, 2, 3, 4]
print(min(a, b))

bee
ant
[1, 2, 3, 4]

In [21]:
# range(stop)

print(list(range(10)))
print(list(range(1,11)))
print(list(range(51,56)))
print(list(range(1,11,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[51, 52, 53, 54, 55]
[1, 3, 5, 7, 9]

In [22]:
# list([iterable])

a = "bee"
print(list(a))

a = ("I", "am", "a", "tuple")
print(list(a))

a = {"I", "am", "a", "set"}
print(list(a))

['b', 'e', 'e']
['I', 'am', 'a', 'tuple']
['I', 'a', 'am', 'set']

In [23]:
# Dictionary Built-in Functions

In [30]:
# all()

squares = {1:2, 888:7, 3:4, 4:27, 5:60, 6:40}
print(all(squares))

True

In [31]:
# clear()

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [32]:
# Copy

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [33]:
# get()

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [34]:
# pop()

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [36]:
# Sets and its default function 
# add()

fruits = {"apple", "banana", "cherry"}

print(fruits)

fruits.add("orange")

print(fruits)

{'cherry', 'apple', 'banana'}
{'cherry', 'orange', 'apple', 'banana'}

In [38]:
# Difference()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [39]:
# Difference update

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [41]:
# intersection()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [42]:
# isdisjoint(y)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [44]:
# Tuple and its methods
# Count

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [45]:
# index function

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [47]:
# Tuple length

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [50]:
# Join two tuple

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [51]:
# The tuple() Constructor

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [52]:
# String function()
# capitalize()

txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [54]:
# casefold()

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [55]:
# encode()

txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [56]:
#endwith()
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [58]:
# expandtab()

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o